In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline
import pickle

In [4]:
ls data

df_images_120_120.pickle

In [6]:
df = pickle.load(open('./data/df_images_120_120.pickle','rb'))

In [7]:
df.head()

,imie,0,1,2,3,4,5,6,7,8,...,14390,14391,14392,14393,14394,14395,14396,14397,14398,14399
0,Bosak,167,170,173,177,176,178,176,175,177,...,14,16,16,20,23,28,28,31,35,37
2,Bosak,150,150,150,150,150,150,150,150,150,...,147,150,151,149,149,149,148,153,153,150
4,Bosak,150,150,149,150,150,149,150,150,150,...,119,119,119,119,119,119,117,119,121,141
5,Bosak,149,151,150,150,149,149,150,150,151,...,150,149,149,149,148,150,150,148,150,150
6,Bosak,150,149,149,150,150,149,150,151,150,...,150,150,150,150,149,149,149,149,149,151

In [8]:
#checking for missing values
df.isnull().sum()

imie     0
0        0
1        0
2        0
3        0
        ..
14395    0
14396    0
14397    0
14398    0
14399    0
Length: 14401, dtype: int64

In [10]:
df.dropna(axis=0,inplace=True)

In [11]:
X = df.iloc[:,1:].values #independent
y = df.iloc[:,0].values

In [12]:
X.shape
#Min Max Scalling
Xnorm = (x - minValue) / (maxValue - minValue)

(223, 14400)

In [13]:
X.min(), X.max()

(0, 255)

In [14]:
X_norm = X/X.max()

In [15]:
X_norm.shape

(223, 14400)

In [18]:
#Bosak = 0, Tusk = 1
y_norm = np.where(y=='Tusk',1,0)

In [20]:
np.savez('./data/data_120_120_norm',X_norm,y_norm)

In [21]:
# save x and y in numpy zip
np.savez('./data/data_14400_norm.npz',X_norm,y_norm)